body{
    color: white;
    background: rgb(6, 6, 41);
    font-family: Arial;
}

#navbar{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 300px;
    width: 350px;
    height: 30px;
    align-items: center;
}

.nav a{
color: white;
text-decoration: none;
transition: .4s ease;
}

.nav a:hover{
    color: rgb(145, 151, 156);
}

.slogan{
    display: flex;
    color: aquamarine;
    transition: .3s ease-in-out;
    background-color: transparent;
    width: 600px;
    height: 50px;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.slogan:hover{
    color: rgb(42, 106, 158);
    transform: rotateX(20deg);
}

.title{
    display: flex;
    justify-content: center;
    background-color: transparent;
    width: 350px;
    height: 60px;
    text-align: center;
    align-items: center;
    transition: .4s ease-in-out;
}

.title:hover{
    transform: rotateX(20deg);
    color: rgb(136, 190, 235);
}